@import url('https://fonts.googleapis.com/css?family=Amaranth|Fira+Sans|Rubik&display=swap');

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 500px;
    width: 700px;
    margin: 0 auto;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Amaranth', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: url("../img/Fishermans_Bastion4.jpg") center/cover no-repeat;
}

/* Title, subtitle */
h1, h2 {
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 4px 2px #222b56;
    color: #d49411;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #222b56;
}

input {
    width: 60%;
}

.btn {
    background-color: #222b56;
    border-color: #222b56;
    color: #dfab34;

}


/* Interest section */
.interest-icons {
    margin-bottom: 70px;
}

.list-inline {
    margin: 0 auto;
    text-align: center;
}

.interest-name {
    display: inline-block;
    text-align: center;
    height: 130px;
    width: 130px;
    border: #222b56 2px solid;
    border-radius: 25%;

}

.interest-name:hover {
    background-color: #468bee;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

}

.interest-name i {
    padding-top: 30px;
    color: #222b56;
}


#right-panel {
    text-align: center;
    margin-bottom: 150px;
}

.results {
    margin-top: 70px;
}

#places {
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px #222b56;
    font-size: 25px;
    color: #222b56;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #222b56;
}

#places li {
    width: 35%;
    margin: 5px auto;
    background-color: #eeb8a3;
    opacity: 0.7;
    border: #222b56 1px solid;
    border-radius: 10px;
}

.no-bullet {
    list-style-type: none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  border: none;
  outline: none;
  background-color: #fc81a2;
  color: white;
  cursor: pointer;
  border-radius: 10px;

}

#myBtn:hover {
  background-color:  #468bee;
}

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, #fc81a2, #fcc3f5);
    opacity: 0.8;
}

.social-links {
    margin-bottom: 10px;
}

.fab {
    border: 3px solid;
    border-radius: 25%;
    padding: 3px;
}

.fab:hover {
    background-color: #fc81a2;
    transition: all 0.5s ease-in-out;
}

.fa-facebook {
    color: #4267b1;
    background-color: white;
}

.fa-github {
    color: black;
    background-color: white;
}

.fa-linkedin {
    color: #0073af;
    background-color: white;
}

@media (max-width: 1023px) {
    #map {
        height: 500px;
        width: 75%;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h5 {
        font-size: 15px;
    }

    .custom-text-center {
        text-align: center !important;
    }

    li {
        font-size: 15px;
    }
}

@media (max-width: 640px) {
    #map {
        height: 400px;
        width: 75%;
    }

}

@media (max-width: 568px) {
    #map {
        height: 350px;
        width: 75%;
    }
}


@media (max-width: 410px) {
    #map {
        height: 300px;
        width: 75%;
    }

    li {
        font-size: 10px;
    }
}

