/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 500px;
    width: 700px;
    margin: 0 auto;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/Fishermans_Bastion4.jpg") center/cover no-repeat;
}

/* Title, subtitle */
h1, h2 {
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 4px 2px #222b56;
    color: #d49411;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #222b56;
}

input {
    width: 60%;
}

/* Interest section */
.interest-icons {
    margin-bottom: 70px;
}

.list-inline {
    margin: 0 auto;
    text-align: center;
}

.interest-name {
    display: inline-block;
    text-align: center;
    height: 130px;
    width: 130px;
    border: #222b56 2px solid;
    border-radius: 25%;
}

.interest-name i {
    padding-top: 30px;
    color: #222b56;
}

#right-panel {
    margin-bottom: 150px;
}

.results {
    margin-top: 70px;
}

#places {
    font-size: 20px;
    color: #222b56;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dfab34;
}

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fc81a2;
}

.social-links {
    margin-bottom: 10px;
}

.fab {
    border: 3px solid;
    border-radius: 25%;
    padding: 3px;
}

.fa-facebook {
    color: #4267b1;
    background-color: white;
}

.fa-github {
    color: black;
    background-color: white;
}

.fa-linkedin {
    color: #0073af;
    background-color: white;
}

@media (max-width: 767px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }
    h5 {
        font-size: 15px;
    }

    .custom-text-center {
        text-align: center!important;
    }
}